
.content {  

    &.sm > span{
        width: 12px;
        height: 12px;
        border-top: 2px solid #fff;
        border-right: 2px solid transparent;
    }

}

.loading-button {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: inline-block;
    border-top: 3px solid #fff;
    border-right: 3px solid transparent;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;

    display: block;
    margin-right: 10px;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
