.wrapper {
    bottom: 0px;
    height: 100%;
    margin-bottom: 65px;
}

.container {
    padding: 25px 18px;
    border-radius: 6px;
    background-color: #ffff;
}

// Thumbnail

.grid-form-upload-image {
    display: flex !important;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.form-input-thumbnail {
    display: none;
}

.grid-input-image {
    cursor: pointer;
    margin-bottom: 15px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}

.image-thumbnail {
    width: 150px;
    height: 200px;
    object-fit: cover;
    display: block;
}

.button-upload-image {
    // width: 150px;
    font-size: 14px;
    font-weight: 300;
    color: #ffff;
    padding: 5px 10px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #7367f0;
    border: none;
    outline: none;

    display: flex;
    align-items: center;
}

.note-upload-image {
    width: 100%;
    max-width: 380px;
    font-size: 15px;
    color: #b9b9c3;
    text-align: center;
    margin-top: 20px;
}

// Form

.form {
    display: grid;
}

.form-group {
    display: grid;
    margin-bottom: 20px;
}

.form-title {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
}

.form-input {
    width: 100%;
    height: 35px;
    line-height: 1;
    font-size: 16px;

    outline: none;
    padding: 6px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.form-text {
    min-height: 250px;
    outline: none;
    padding: 15px 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-family: inherit;
    font-size: 16px;
    resize: vertical;

    &:focus {
        border-color: var(--focus-input-border-color);
        box-shadow: var(--focus-input-box-shadow-color);
    }
}

.button-create-book {
    width: 100%;
    height: 42px;
    cursor: pointer;
    border: 1px solid var(--border-color);
    background-color: #7367f0;
    border-radius: 4px;
    position: relative;

    font-size: 15px;
    color: #ffff;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);

    display: flex;
    align-items: center;
    justify-content: center;

    -webkit-user-select: none;

    transition: 0.2s all ease;

    & + & {
        margin-top: 12px;
    }
    &:hover {
        box-shadow: 0 8px 25px -8px #7367f0;
    }
    &:focus {
        box-shadow: 0 8px 25px -8px #7367f0;
        background-color: #5e50ee;
    }
}
