.badgeblue {
    background-image: url("/images/badge-blue.png");
    background-repeat: no-repeat;
    padding: 12px;
    background-size: contain;
    display: block;
    transform: translateY(5%);
}